.title{
  flex: auto;
  border: 5px solid #b228fc;
  margin: 50px;
  width: 90%;
  height: 100px;
  padding: 20px;
  background-color: #F5D7E3;

  text-align: center;
}

.menu{
  border: #495D63;
  background-color: #F5D7E3;
  width: 1000px;
  height: auto;

  margin-left: 10%;
  margin-right: 10%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 180px;
  row-gap: 130px;

  max-width:fit-content;
  max-height: fit-content;
  margin: 20px auto;
  padding: 20px;
  align-items: center;

  background-image: url("/gameboy.jpg");
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 5px;
  row-gap: 5px;
  height: 260px;
  width: 260px;

  background-color: #b228fc;
  color: #022b3a;
  font-size: 24px;
  border-radius: 3px;
  padding: 10px;

  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 12px -6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.drop{
  size: inherit;
}

.bottom{
  background-color: #231e26;
  color: #e1e5f2;
  height: 80px;
  padding: 15px;
  margin-top: 100px;

  justify-content: space-between;
}