/*#bgimage{
  this will be for the background image
}*/

.title{
  margin-bottom: 4%;
  width: 100%;
  height: 160px;
  padding: 3%;
  
  background-image: url("/menubg.png");
  color: #f6f2ff;
  text-shadow: #C585B3 0 0 20px;
  
}

.gradient{
  background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(45, 29, 141) 40%, #341061 75%, #341061 100%) repeat scroll 0 0;
  position: relative;
  margin-top: -200px;
  height: 300px;
}

.menu{
  border-image: linear-gradient(#800080,#c054e8,#b47eb3) 30;
  border-style: solid;
  border-width: 4px;
  background-image: url("/menubg.png");

  font-weight: 500;
  font-size: large;
  color: #f6f2ff;

  width: 85%;
  height: fit-content;
  margin: auto;
  margin-bottom: 2rem;

  padding: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  z-index: 1;

  box-shadow: 0 0 50px 15px #48abe0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 180px;
  row-gap: 55px;

  max-width:fit-content;
  max-height: fit-content;
  margin: 50px auto;
  padding: 20px;
  align-items: center;

  background-image: url("/menubg.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 5px;
  row-gap: 5px;
  height: 260px;
  width: 260px;

  background-image: url("/menubg.png");
  color: #022b3a;
  font-size: 24px;
  
  padding: 10px;

  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 5px #48abe0;
}

.bottomC{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 5px;
  row-gap: 5px;
  height: 100px;
  width: 260px;

  background-image: url("/menubg.png");
  color: #f6f2ff;
  font-size: 24px;

  border-radius: 0px 0px 3px 3px;
  padding: 10px 10px;


  box-shadow: 0 0 5px 5px #48abe0;
  overflow-wrap: break-word;
}

.AMbutton{
  background-color: inherit;
  color: #e1e5f2;
  border: none;

  transition: 0.3s;
  align-items: center;
  position:center;

  max-width: fit-content;
  max-height: fit-content;
  padding: 12px 30px;
  border-radius: 3px;
  margin-top: 30px;
}

.AMbutton:hover{
  background-image: inherit;
  color: #E1D9D1;
  text-shadow: white 0 0 20px;

  -webkit-box-shadow: 0 0 3px rgba(139, 53, 173, 0.836);
  box-shadow: 0px 0px 30px 5px rgba(77, 52, 189, 0.856);
}

#background h3{
  text-decoration: none;
  color: inherit;
}