/*This is the global css for review pages*/

#gradient {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(45, 29, 141) 40%, #341061 75%, #341061 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -200px;
    height: 300px;
}

#bannerBG {
    width: 100%;
    height: 160px;
    padding: 3%;

    background-image: url("/menubg.png");
    color: #f6f2ff;
    text-shadow: #C585B3 0 0 20px;
}

#title {
    text-align: center;
    padding-bottom: 2%;
    color: #633562;
}

#hero {
    margin: 5% 0 5% 8%;
    background-repeat: no-repeat;
    max-width: fit-content;
    max-height: fit-content;
    object-fit: contain;
}

#gameplay {
    margin: 5% 0 5% 8%; 
    background-repeat: no-repeat;
    max-width: fit-content;
    max-width: fit-content;
    object-fit: contain;
}

#boxBG {
    background-color: #e1e5f2;
    align-content: center;
    margin: 1rem auto;
    border-radius: 2%;
    color: #633562;

    max-width: 80%;
    min-height: max-content;
    padding: 2.5rem;
}

#bottomBox {
    background-color: #e1e5f2;
    position: relative;
    align-content: center;
    margin: 100px auto 30px auto;

    max-width: 90%;
    max-height: 600px;
    padding: 1.5rem;
}

.boxDecor {
    border: 4px solid;
    border-image: linear-gradient(#800080, #c054e8, #b47eb3) 30;
}

.decoration {
    color: #633562;
}

#gameplay{
    display: flex;
    justify-content: space-between;

    max-width: 100%;
    max-height: auto;
    
}