/*This is the global css for review pages*/

#gradient {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(45, 29, 141) 40%, #341061 75%, #341061 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -200px;
    height: 300px;
}

#bannerBG {
    width: 100%;
    height: 160px;
    padding: 3%;

    background-image: url("/menubg.png");
    color: #f6f2ff;
    text-shadow: #C585B3 0 0 20px;
}

#title {
    text-align: center;
    padding-bottom: 2%;
    color: #633562;
}

#hero{
    padding: 3rem;
}

#boxBG {
    background-color: #e1e5f2;
    border-radius: 2%;
    color: #633562;

    margin: 0px 100px 0px 100px;
    padding: 30px;

    
    align-self: center;
    text-align: center;

    line-height: 1.5;
}

#bottomBox {
    background-color: #e1e5f2;
    position: relative;
    align-content: center;
    margin: 100px auto 30px auto;

    max-width: 90%;
    max-height: 600px;
    padding: 1.5rem;
}

#flex{
    display: flex;
    align-content: space-between;
    column-gap: 20px;
}

.item p{
    text-decoration: none;
    color: #633562;
}

#decoration{
    margin: 2rem;
}

.paragraph{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
}